.browseBody {
    background-color: #232020;
    padding-bottom: 100px;
}

.noBanner {
    height: 500px;
    border: 1px solid #fff;
    margin-top: 75px;
    background: #2b2121;
}

.noBannerHeading {
    color: #fff;
    position: absolute;
    top: 22%;
    left: 35%;
}

.banner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bannerPlayer {
    margin-top: -135px;
}

.sectionList {
    margin-top: 55px;
}