.mTop {
    padding-top: 20px !important;
}
.videoList {
    margin-left: 25px;
    margin-right: 25px
}

h3.listHeading {
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
    cursor: pointer;
}

h3.listHeading > span {
    margin-left: 5px
}

h3.listHeading > span > svg {
    fill: #fff;
    margin-left: -90px;
}

span.explore {
    font-size: 16px;
    color: #54b9c5;
    opacity: 0;
    max-width: 0;
}

h3.listHeading:hover > span.explore {
    transition: all 1s linear;
    opacity: 1;
    margin-left: 10px;
}

h3.listHeading:hover > span > svg {
    transition: all 0.3s ease-out;
    margin-top: 3px;
    height: 13px;
    color: #54b9c5;
    margin-left: -10px;
}

.slider {
    text-align: center;
    font-size: 30px;
    margin-right: 5px;
    transition: transform .2s;
    overflow: visible !important;
}

.slider:hover {
    /*transform: scale(1.5);*/
    /*z-index: 999;*/
    /*margin-top: -25px;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*margin-right: 5px;*/
}

.listImgWidth { width: 100% }

.sliderInfo {
    min-height: 202px;
    color: #fff;
    padding-left: 20px;
    background-color: #1f1d1d;
    box-shadow: 0px 4px 5px #000;
    margin-right: 5px;
    /*display: none;*/
    /*transform: scale(0);*/
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: relative;
    /*width: inherit;*/
    /*margin-top: -56%;*/
    overflow: visible !important;
    z-index: 999;
    /*overflow: visible;*/
    margin-top: -56%;
    /*width: 1px;*/
    /*transition: transform .2s;*/
}

.slideItem {
    /*overflow: visible !important;*/
}
/*.slideItem:hover {*/
    /*transform: scale(1.5);*/
    /*margin-top: -25px;*/
/*}*/

.slideItem:hover .sliderInfo{
    /*transition: all 0.3s ease-out;*/
    /*transform: scale(1.5);*/
    /*position: absolute;*/
    overflow: visible !important;
    /*display: inline-block;*/
    /*overflow-y: visible;*/
    /*z-index: 100;*/
    /*visibility: visible;*/
    opacity: 0.8;
    /*width: 500px;*/
    position: relative;
    /*top: 54%;*/
    /*background-color: #000;*/
    /*margin-top: -2px;*/
    /*left: 50%;*/
    /*left:-35px;*/
    /*width:500px;*/
    /*height:auto;*/
    /*display:block;*/
    /*z-index:999;*/
    /*margin-top: 1px;*/
}

.playButton {
    padding-left: 10px;
}
.plusButton  {

}

.infoButtons {
    margin-right: 20px;
    background-color: #efefef;
    border: 0;
    width: 37px;
    height: 37px;
    border-radius: 65%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.infoButtons i {
    font-size: 19px;
}

.duration, .genres {
    margin-top: 15px;
    margin-left: 2px;
}

.genres {
    padding-bottom: 15px;
}

.genres span:first-child {
    padding-left: 0;
}

.genres span {
    /*padding-left: 7px;*/
    padding-right: 10px;
    padding-top: 2px;
    /*border-right: 1px solid;*/
}

.separator {
    display: inline-block;
    border: 1px solid #000;
    margin-right: 10px;
    height: 11px;
    border-radius: 54%;
    background-color: #5d5d5d;

}