.info {
    overflow-x: hidden;
    /*min-height: 1750px;*/
}

.topBanner > div {
    padding-right: 0;
}

.bannerImage {
    height: 573px;
    margin-top: -53px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerImage > div {
    position: absolute;
    bottom: 44.5%;
    width: 100%;
    padding-right: 0;
    margin-left: 0;
}

.infoSectionOne {
    margin-top: -125px;
    min-height: 125px;
    background-color: #3e3e3e;
    opacity: 0.7;
    padding-right: 0px;
    padding-left: 60px;
    padding-top: 25px;
    margin-left: 45px;
    color: #fff;
}
.titleSection {}
.title {
    color: #fff;
}

.infoOneSubOne {
    margin-top: 15px;
}
.releaseYear, .runTime, .filmRating {
    margin-right: 15px;
}

.filmRating {
    border: 1px solid #fff;
    padding: 2px 6px;
}

.itemContainer {
    background-color: #1f1d1d;
}

.thumbContainer {
    margin-top: -15% !important;
}
.itemContainer img.thumb {
    margin-left: 16.5%;
    width: 100%;
}

.infoDetails {
    padding-left: 120px !important;
    padding-top: 25px;
    color: #fff;
}

.genres, .directors, .writers, .video, .audio, .description, .tags {

}

.genres .heading,
.directors .heading,
.writers .heading,
.video .heading,
.audio .heading,
.description .heading,
.tags .heading{
    font-weight: bold;
}

/******************************
   Casting Section
*******************************/

.casting {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1f1d1d;
    color: #fff;
    padding-left: 75px;
}

.castHeading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.slider {
    text-align: center;
    font-size: 18px;
    margin-right: 5px;
    margin-left: -35px;
    transition: transform .2s;
    overflow: visible !important;
    min-height: 195px;
}

.listImage {
    width: 85%;
}

.slider:hover .listImage {
    overflow-y: visible !important;
    /*transition: all .05s linear;*/
    width: 90%;
    cursor: pointer;
}
.character {
    margin-top: 15px;
}

.castName { margin-bottom: 2px; }

.alias {
    font-size: 16px;
    color: #54b9c5;
}